---
import Fade from "../fade.astro";
import Separator from "../separator.astro";
---

<Fade id="about">
  <div id="about" class="w-full min-h-screen flex flex-col">
    <Separator text="Nosotros" />
    <article
      class="flex md:flex-row flex-col flex-[1] md:px-10 px-5 md:mb-[0px] mb-10"
    >
      <section class="flex-[1]">
        <img
          src="https://postgradoingenieria.com/wp-content/uploads/obras-construccion-xxss.jpg"
          alt="about"
          class="h-full py-10 md:pr-10"
        />
      </section>
      <section
        class="flex-[1] items-center justify-center text-justify md:text-2xl text-xl flex flex-col gap-5"
      >
        <p>
          <b>ELECTRO SPACE CONSTRUCCIONES</b> es una empresa joven conformada por
          un equipo de profesionales enfocados en las necesidades de nuestros clientes
          y en la calidad de nuestros servicios.
        </p>
        <p>
          En un corto tiempo hemos desarrollado un conjunto de obras importantes
          en el sector privado cumpliendo con los costos y tiempos de ejecución.
        </p>
        <p>
          Así mismo contamos con personal técnico profesional para cumplir
          cualquier desafío de tiempo y costo.
        </p>
        <p>
          Somos una empresa emprendedora en proceso de crecimiento, con bases
          sólidas en ser una empresa constructora competitiva y de excelentes
          resultados.
        </p>
      </section>
    </article>
  </div>
</Fade>
