---

---

<article class="w-full h-screen relative">
  <img
    src="https://www.aceroform.com.mx/wp-content/uploads/2020/10/banner-construccion-1200x675.jpg"
    alt="banner"
    class="object-center w-full h-[calc(100vh+130px)] absolute top-[-130px] left-[0]"
  />
  <div class="absolute z-10 top-[65%] w-full flex item-center justify-center">
    <span
      class="text-[white] text-8xl [text-shadow:2px_4px_2px_rgba(0,0,0,0.4)] font-poppins-semibold"
      >Electro Space Contrucciones</span
    >
  </div>
</article>
