---
import Card from "../Card.astro";
import Fade from "../fade.astro";
---

<Fade id="projects">
  <section id="projects" class="pb-8 md:px-10 px-5">
    <h1 class="text-3xl text-center py-5">Proyectos</h1>
    <div
      class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-10 justify-center item-center"
    >
      <Card
        title="Petro Seven"
        subtitle="Ver proyectos"
        imgSrc="images/petro-seven-1.jpeg"
      />
      <Card
        title="Oxxo Gas"
        subtitle="Ver proyectos"
        imgSrc="images/oxxo-gas-2.jpeg"
      />
      <Card
        title="Soriana"
        subtitle="Ver proyectos"
        imgSrc="images/soriana-2.jpeg"
      />
      <Card
        title="Akron"
        subtitle="Ver proyectos"
        imgSrc="images/akron-1.jpeg"
      />
      <Card
        title="Pharma Cells"
        subtitle="Ver proyectos"
        imgSrc="images/pharma-1.jpeg"
      />
      <Card
        title="Prisa"
        subtitle="Ver proyectos"
        imgSrc="images/prisa-1.jpeg"
      />
    </div>
  </section>
</Fade>
