---
import Fade from "../fade.astro";
---

<Fade id="projects">
  <section id="projects" class="pb-8 md:px-10 px-5">
    <h1
      class="text-3xl text-center py-10"
      style="font-family: 'LEMONMILK-Regular';"
    >
      ALGUNOS DE NUESTROS CLIENTES
    </h1>
    <div
      class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-x-10 gap-y-32 justify-center item-center mb-10"
    >
      <div class="flex justify-center items-center">
        <img
          alt="PEMEX"
          fetchpriority="high"
          decoding="async"
          src="images/proyectos/overlay_image5.png"
          class="md:w-[50%] h-[200px]"
          loading="lazy"
        />
      </div>
      <div class="flex justify-center items-center">
        <img
          alt="PETRO SEVEN"
          fetchpriority="high"
          decoding="async"
          src="images/proyectos/overlay_image2.png"
          class="md:w-[70%] h-[200px]"
          loading="lazy"
        />
      </div>
      <div class="flex justify-center items-center">
        <img
          alt="GAZPRO"
          fetchpriority="high"
          decoding="async"
          src="images/proyectos/overlay_image1.png"
          class="md:w-[50%] h-[250px]"
          loading="lazy"
        />
      </div>
      <div class="flex justify-center items-center">
        <img
          alt="TODOGAS"
          fetchpriority="high"
          decoding="async"
          src="images/proyectos/overlay_image3.png"
          class="md:w-[70%] h-[200px]"
          loading="lazy"
        />
      </div>
      <div class="flex justify-center items-center">
        <img
          alt="SMITHERS-OASIS"
          fetchpriority="high"
          decoding="async"
          src="images/proyectos/overlay_image4.png"
          class="md:w-[90%] h-[175px] invert"
          loading="lazy"
        />
      </div>
    </div>
  </section>
</Fade>
