---
import Card from "../Card.astro";
import Fade from "../fade.astro";
---

<Fade id="services">
  <section
    id="services"
    class="bg-secondary text-white pb-8 w-full min-h-screen md:px-10 px-5"
  >
    <h1
      class="text-3xl text-center py-5"
      style="font-family: 'LEMONMILK-Regular';"
    >
      Servicios
    </h1>
    <div
      class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-10 justify-center item-center"
    >
      <Card
        title="Instalaciones y mantenimientos eléctricos."
        imgSrc="images/servicios/servicio1.jpg"
      />
      <Card
        title="Construcción y remodelaciones en gasolineras, oficinas, naves industriales y obras en general."
        imgSrc="images/servicios/servicio2.jpg"
      />
      <Card
        title="Cambios de imagen generales y Pemex (nivel 1, 2 y 3)"
        imgSrc="images/servicios/servicio3.jpg"
      />
      <Card
        title="Generación de proyecto ejecutivo y Catálogos de conceptos"
        imgSrc="images/servicios/servicio4.jpg"
      />
    </div>
  </section>
</Fade>
