---
import Card from "../Card.astro";
import Fade from "../fade.astro";
---

<Fade id="services">
  <section
    id="services"
    class="bg-secondary text-white pb-8 w-full min-h-screen md:px-10 px-5"
  >
    <h1 class="text-3xl text-center py-5">Servicios</h1>
    <div
      class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-10 justify-center item-center"
    >
      <Card title="Construction Management" imgSrc="images/main-6.jpeg" />
      <Card title="Construction Management" imgSrc="images/main-7.jpeg" />
      <Card title="Construction Management" imgSrc="images/main-8.jpeg" />
      <Card title="Construction Management" imgSrc="images/main-9.jpeg" />
    </div>
  </section>
</Fade>
