---
import Card from "../Card.astro";
---

<section>
  <div class="grid grid-cols-3">
    <Card title="Construction Management"> content </Card>
    <Card title="Construction Management"> content </Card>
    <Card title="Construction Management"> content </Card>
  </div>
</section>
