---
import Icon from "../../icon.astro";
import ValueItem from "./valueItem.astro";
---

<section>
  <h1>Vision y valores</h1>
  <p class="text-2xl text-justify">
    Ser la constructora líder elegida por nuestros proyectos de diseños
    innovadores, ingeniería, construcción y comercialización de inmuebles de
    alta calidad que desarrollamos, con personal altamente calificado,
    optimizando los costos pensando en ofrecer diferentes opciones a los
    clientes manteniendo altos estándares de calidad con servicio al cliente que
    garantice solidez y reconocimiento contribuyendo al desarrollo de nuestro
    país, y optar por lograr niveles de evolución altos.
  </p>
  <div class="grid grid-cols-2 gap-5">
    <ValueItem
      icon="fa-envelope"
      iconType="fa-solid"
      title="Honestidad"
      fontSize={100}
    />
    <ValueItem
      icon="fa-envelope"
      iconType="fa-solid"
      title="Capacidad"
      fontSize={100}
    />
    <ValueItem
      icon="fa-envelope"
      iconType="fa-solid"
      title="Responsabilidad"
      fontSize={100}
    />
    <ValueItem
      icon="fa-envelope"
      iconType="fa-solid"
      title="Proactividad"
      fontSize={100}
    />
  </div>
</section>
