---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="wp-block-emagine-column em-col">
  <div
    id="block_47415cd65b5d77071e18d8c2b24aa3c5"
    class="wp-block em-card em-mt--none em-mb--md aligndefault"
  >
    <a
      class="card"
      href="https://www.gilbaneco.com/building/services/construction-management/"
    >
      <div class="card__media">
        <img
          fetchpriority="high"
          decoding="async"
          src="https://www.gilbaneco.com/wp-content/uploads/2023/02/construction_overview.jpg"
          class="object-cover object-center"
          width="600"
          height="338"
        />
      </div>

      <div>
        <h3>{title}</h3>

        <div>
          <span>{subtitle}</span>
        </div>
      </div>
    </a>
    <slot />
  </div>
</div>
