---
const inputClass = "pl-2 py-1 text-black resize-none";
---

<form action="" class="flex flex-col gap-4">
  <input type="text" placeholder="nombre" class={inputClass} max="20" />
  <input type="text" placeholder="email" class={inputClass} />
  <input type="text" placeholder="telefono" class={inputClass} />
  <textarea placeholder="Mensaje" class={inputClass}></textarea>
  <input type="submit" />
</form>
