---
import Logo from "../Nav/logo.astro";
import SocialMedia from "./social-media.astro";
import Form from "./form.astro";
import Separator from "./separator.astro";
---

<footer id="footer" class="bg-primary text-[white] px-10 pt-[18px] pb-20">
  <section class="mx-60 flex">
    <div class="flex-[1]">
      <div class="flex items-center justify-center">
        <Logo width={200} height={200} />
      </div>
      <div>
        <p>Ricardo Margáin 335</p>
        <p>Col. Valle del Campestre</p>
        <p>San Pedro Garza García, Nuevo León</p>
        <p>Tel: (81) 8000 5700</p>
        <p>contacto@adobse.mx</p>
        <p>proyectos@adobse.mx</p>
      </div>
    </div>
    <div class="flex-[1]">
      <h1 class="text-xl mb-5">Cuéntanos sobre tu proyecto</h1>
      <Form />
    </div>
  </section>
  <hr class="my-5" />
  <section class="flex items-center justify-between">
    <div class="flex">
      <span>©&nbsp;2024 Gilbane, All rights reserved</span>
      <Separator />
      <ul class="flex">
        <li>
          <a href="https://www.gilbaneco.com/privacy-policy/">Privacy Policy</a>
        </li>
        <Separator />
        <li>
          <a href="https://www.gilbaneco.com/terms-of-use/">Terms of Use</a>
        </li>
        <Separator />
        <li>
          <a href="https://www.gilbaneco.com/site-map/">Site Map</a>
        </li>
      </ul>
    </div>
    <ul class="flex gap-3">
      <SocialMedia
        icon="fa-facebook"
        href="https://www.facebook.com/"
        alt="Facebook"
      />
      <SocialMedia
        icon="fa-x-twitter"
        href="https://www.x.com/"
        alt="Twitter-X"
      />
      <SocialMedia
        icon="fa-instagram"
        href="https://www.instagram.com/"
        alt="Instagram"
      />
      <SocialMedia
        icon="fa-linkedin"
        href="https://www.linkedin.com/"
        alt="LinkedIn"
      />
    </ul>
  </section>
</footer>
