---
interface Props {
  /**Icono de Font Awesome */
  icon: string;
  href: string;
  alt?: string;
  iconType?: "fa-brands" | "fa-thin" | "fa-sharp" | "fa-solid";
}

const { icon, alt, href, iconType } = Astro.props;
---

<li
  class="bg-[white] text-[#192334] rounded-full w-[40px] h-[40px] transition hover:bg-[#192334] hover:text-[white]"
>
  <a
    target="_blank"
    rel="noopener"
    href={href}
    class="w-full h-full flex items-center justify-center relative"
  >
    {alt && <span class="w-[1px] h-[1px] overflow-hidden absolute">{alt}</span>}
    <i class={`${iconType ?? "fa-brands"} ${icon} text-[20px]`}></i>
  </a>
</li>
