---
import Logo from "./logo.astro";
import Item from "./item.astro";
---

<nav class="flex items-center px-10 py-[18px] sticky top-[0] bg-[white] gap-3">
  <section class="flex-[1]">
    <Logo />
  </section>
  <ul class="flex gap-2 flex-[2] justify-between">
    <Item name="Nosotros" href="" />
    <Item name="Servicios" href="" />
    <Item name="Proyectos" href="" />
    <Item name="Contacto" href="" />
  </ul>
</nav>
